<div class="navb">
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "Resume", contact_path %></div>
  <div><%= link_to "Projects", aboutme_path %></div>
  <div><%= link_to "Contact", aboutme_path %></div>
  <div class="icon-links">
    <div><%= link_to 'Github', root_path %></div>
    <div><%= link_to 'Linkedin', root_path %></div>
  </div>
</div>
